<h1>Editing Stylesheet</h1>

<%= render 'form', post: @css %>
    
<%= link_to 'Show', @css %> |
<%= link_to 'Back', posts_path %>

<script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/editor.js" type="text/javascript" charset="utf-8"></script>

